<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="dismiss()">Cancelar</ion-button>
    </ion-buttons>
    <ion-title>{{ isEditing ? 'Editar categoría' : 'Nueva categoría' }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="form" novalidate>

    <ion-item [class.ion-invalid]="name?.invalid && name?.touched">
      <ion-input formControlName="name" label="Nombre" labelPlacement="stacked"
                 placeholder="Ej: Trabajo, Personal..." maxlength="30" [counter]="true">
      </ion-input>
    </ion-item>
    @if (name?.invalid && name?.touched) {
      <ion-note color="danger" class="field-error">
        @if (name?.hasError('required')) { Requerido }
        @if (name?.hasError('minlength')) { Mínimo 2 caracteres }
      </ion-note>
    }

    <ion-item>
      <ion-icon [name]="selectedIcon" slot="start" color="primary"></ion-icon>
      <ion-select formControlName="icon" label="Ícono" labelPlacement="stacked" interface="popover">
        @for (opt of iconOptions; track opt.value) {
          <ion-select-option [value]="opt.value">
            <ion-icon [name]="opt.value" slot="start"></ion-icon>
            {{ opt.label }}
          </ion-select-option>
        }
      </ion-select>
    </ion-item>

    <ion-button expand="block" class="submit-btn" [disabled]="form.invalid" (click)="save()">
      {{ isEditing ? 'Actualizar' : 'Guardar' }}
    </ion-button>
  </form>
</ion-content>
